body {
    font-family: 'Your Font Name', sans-serif; /* Replace 'Your Font Name' with your desired font */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.home-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #3498db;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ffd800;
}

.no-logs {
    color: #888;
    font-style: italic;
}


/* Style the submenu */
.sidebar .submenu {
    padding: 5px 5px 10px 50px;
    margin-top: -10px;
    display: none;
}

    /* Style the submenu list items */
    .sidebar .submenu li {
        display: block;
    }

    /* Style the submenu links */
    .sidebar .submenu a {
        display: block;
        text-decoration: none;
        color: #333;
    }

/* Show the submenu on hover */
.sidebar li:hover .submenu {
    display: block;
}

/* Style the active menu item */
.sidebar li.active a {
    font-weight: bold;
}

/* Style the active submenu items if needed */
.sidebar .submenu li.active a {
    font-weight: normal;
}


/* Style the submenu list items */
.sidebar .submenu li {
    padding: 5px;
    text-align: left;
}

/* Style the submenu links */
.sidebar .submenu a {
    display: block;
    text-decoration: none;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

input[type="submit"] {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }
/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

    transition: background-color 0.3s ease;
    font-size: 15px;
}

    .delete-btn:hover {
        background-color: #a41d1d; /* Darken the color on hover */
    }
