/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.text-left {
    margin: 20px;
}



.grid-container {
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

* { 
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #0000FF;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

    .sidebar.open {
        width: 250px;
    }

    .sidebar .logo-details {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

        .sidebar .logo-details .icon {
            opacity: 0;
            transition: all 0.5s ease;
        }

        .sidebar .logo-details .logo_name {
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            transition: all 0.5s ease;
        }

    .sidebar.open .logo-details .icon,
    .sidebar.open .logo-details .logo_name {
        opacity: 1;
    }

    .sidebar .logo-details #btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .sidebar.open .logo-details #btn {
        text-align: right;
    }

    .sidebar i {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }

    .sidebar .nav-list {
        margin-top: 20px;
        padding-left: 0px;
        height: 100%;
    }

    .sidebar li {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }

        .sidebar li .tooltip {
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            box-shadow: 0 5px 10px rgba(108, 64, 204, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }

        .sidebar li:hover .tooltip {
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
        }

    .sidebar.open li .tooltip {
        display: none;
    }


    .sidebar li a {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #0000FF;
    }


        .sidebar li a .links_name {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
        }

    .sidebar.open li a .links_name {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar li a:hover .links_name,
    .sidebar li a:hover i {
        transition: all 0.5s ease;
        color: #11101D;
    }

    .sidebar li i {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
    }

    .sidebar li.profile {
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: #0000FF;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .sidebar.open li.profile {
        width: 250px;
    }

    .sidebar li .profile-details {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .sidebar li img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }

    .sidebar li.profile .name,
    .sidebar li.profile .job {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
    }

    .sidebar li.profile .job {
        font-size: 12px;
    }

    .sidebar .profile #log_out {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #0b0088;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: all 0.5s ease;
    }

    .sidebar.open .profile #log_out {
        width: 50px;
        background: none;
    }

.home-section {
	position: relative;
	background: #ffffff;
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
	z-index: 2;
	grid-area: main;
	overflow-y: auto;
	background-color: #f0f0f0; /* Set your desired background color */

}

/* Add hover effect to change background color */
	.home-section:hover {
		background-color: #e0e0e0; /* Set your desired hover background color */
	}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebar li .tooltip { 
        display: none;
    }
}




/* Default styles for larger screens */
.header {
    grid-area: header;
    height: 8vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* ---------- MAIN ---------- */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    height: 100vh; /* 100% of the viewport height */
}

.main-title {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure the title takes the full width */
    margin-bottom: 20px; /* Add margin for separation */
}

.main-title > p {
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-cards {
    box-sizing: border-box; /* Ensure padding and border don't increase the width */
}

.card {
    text-align: center;
    width: 100%; /* You can set a specific width if needed */
    max-width: 1000px; /* Adjust the max-width as needed */
    overflow: hidden;
    margin: 10px 400px; /* Adjust the margin for each card */
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:nth-child(2) {
    border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
    border-left: 7px solid #367952;
}

.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}

.card > span {
    font-size: 20px;
    font-weight: 600;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.btn-primary {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn-primary:hover {
    background-color: #0056b3;
}


/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4f35a1;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a5aaad;
    }


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "header"
            "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 50px 0 20px;
    }
}

.title-container {
    grid-area: main;
    overflow-y: auto;
    padding-top: 15px;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

    .main-title > p {
        font-size: 20px;
    }


/* Style the submenu */
.sidebar .submenu {
    padding: 5px 5px 10px 50px;
    margin-top: -10px;
    display: none;
}

    /* Style the submenu list items */
    .sidebar .submenu li {
        display: block;
    }

    /* Style the submenu links */
    .sidebar .submenu a {
        display: block;
        text-decoration: none;
        color: #333;
    }

/* Show the submenu on hover */
.sidebar li:hover .submenu {
    display: block;
}

/* Style the active menu item */
.sidebar li.active a {
    font-weight: bold;
}

/* Style the active submenu items if needed */
.sidebar .submenu li.active a {
    font-weight: normal;
}


/* Style the submenu list items */
.sidebar .submenu li {
    padding: 5px;
    text-align: left;
}

/* Style the submenu links */
.sidebar .submenu a {
    display: block;
    text-decoration: none;
    color: #333;
}





.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 96%;
    padding: 5px 10px;
    margin-top: 30px;
    left: 40px;
}


.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;

}

.card:nth-child(2) {
    border-left: 7px solid #246dec;
}


/* Row and Columns */
.row {
    margin: 0;
}

.col-lg-10, .col-md-10, .col-sm-8, .col-xs-6 {
    padding: 5px;
}

.col-lg-2, .col-md-2, .col-sm-4, .col-xs-6 {
    text-align: right;
    padding: 5px;
    margin: 0;
}

.card-title {
    margin: 0;
    font-size: 1.5em;
    text-align: center; /* Centering the text */
}




#datatableid {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    align-items: center;
    position: relative;
    padding: 15px 30px 15px 15px;

}

    #datatableid th, #datatableid td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
        background-color: #f0f0f0; /* Light background color for header cells */
        padding: 15px 30px 15px 15px;
    }

    #datatableid th {
      color:#fff;
    }

    #datatableid tbody tr:nth-child(even) {
        background-color: #f9f9f9;

    }

    #datatableid tbody tr:hover {
        background-color: #e0e0e0;
    }


/* Style the down arrow */
.sidebar .arrow {
    position: fixed;
  
}


/* Rotate the down arrow when the submenu is displayed */
.sidebar li:hover .arrow::before {
    transform: rotate(180deg);
    visibility: hidden;
}

/* Style the submenu */
/* Style the down arrow */
.sidebar .arrow {
    position: relative;
}

    .sidebar .arrow::before {
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.5s; /* Add a transition for smooth rotation */
    }



/* Style the submenu */
.sidebar .submenu {
    padding: 5px 5px 10px 50px;
    margin-top: -10px;
    display: none;
}

    /* Style the submenu list items */
    .sidebar .submenu li {
        display: block;
    }

    /* Style the submenu links */
    .sidebar .submenu a {
        display: block;
        text-decoration: none;
        color: #333;
    }

/* Show the submenu on hover */
.sidebar li:hover .submenu {
    display: block;
}

/* Style the active menu item */
.sidebar li.active a {
    font-weight: bold;
}

/* Style the active submenu items if needed */
.sidebar .submenu li.active a {
    font-weight: normal;
}


/* Style the submenu list items */
.sidebar .submenu li {
    padding: 5px;
    text-align: left;
}

/* Style the submenu links */
.sidebar .submenu a {
    display: block;
    text-decoration: none;
    color: #333;
}


/* View Button */
.view-btn {
    background-color: #3566b2;
    color: white;
    border: none;
    padding: 3px 8px;
    margin-right: 5px; /* Add space between the buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

    .view-btn:hover {
        background-color: #2a5178; /* Darken the color on hover */
    }

/* Edit Button */
.edit-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 3px 8px;
    margin-right: 5px; /* Add space between the buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

    .edit-btn:hover {
        background-color: #136e35; /* Darken the color on hover */
    }

/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

    .delete-btn:hover {
        background-color: #a41d1d; /* Darken the color on hover */
    }


#print-button {
    background-color: #007bff; /* Button background color */
    text-align: center;
    left: 20px;
    bottom: 5px;
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-size: 14px; /* Font size */
    width: 75px; /* Increase the width */
    height: 40px; /* Increase the height */
    position: relative;
}


    #print-button:hover {
        background-color: #0056b3; /* Button background color on hover */
    }

/* Style for Functional cells */
.available-cell {
    color: green; /* Green text color for Functional */
}

/* Style for Non-Functional cells */
.inuse-cell {
    color: #FFAE42; /* Red text color for Non-Functional */
}
/* Style for Non-Functional cells */
.maintenance-cell {
    color: #FF0000; /* Red text color for Non-Functional */
}

.main-container {
    grid-area: main;
    overflow-y: auto;

  padding-top: 15px;

}

.main-title {
    display: flex;
    justify-content: space-between;
}

    .main-title > p {
        font-size: 20px;
    }
#datatableid .mdc-data-table__header-cell {
   
    background-color: #f0f0f0; /* Light background color for header cells */
}

#datatableid .mdc-data-table__cell {
 
    text-align: center; /* Center-align the text */
    border: 1px solid #ccc; /* Add a border for separation */
}

#datatableid .mdc-data-table__header-row {
    background-color: #3498db;
}
